body {  
    
    /*background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(249,39,244,1) 35%, rgba(0,212,255,1) 100%); */
    background-color: #E3C16F;
    
}  
h1 {  
  
  /*background-color: white;*/
    color: navy;  
    margin-left: 20px;  
}   

div {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid white;
  padding: 50px;
  margin: 20px;
}


.column-1 {
    float: left;
    width: 30%;
    margin-left: 1rem;
}

.column-2 {
    float: right;
    width: 60%;
    margin-right: 1rem;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}